<%= form_for [@cup, @round], :html => { :class => 'form form-horizontal' } do |f| %>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputName">Nombre de la polla</label>
    <div class="col-md-5">
      <%= f.hidden_field :cup_id, :value => @cup.id %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Jornada</label>
    <div class="col-md-5">
      <%= f.text_field :leg, id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Name</label>
    <div class="col-md-5">
      <%= f.text_field :name, id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Description</label>
    <div class="col-md-5">
      <%= f.text_field :description, id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Round Type</label>
    <div class="col-md-5">
      <%= f.text_field :round_type, id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Short Name</label>
    <div class="col-md-5">
      <%= f.text_field :short_name, id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-actions form-actions-padding-sm">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">	
        <%= f.submit 'Guardar ronda', :class => 'btn btn-success'%>
        <%= link_to 'Cancelar', main_path, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>

<% end %>
