<body>

		<div class="jumbotron masthead">
		  <div class="container">		
		    <h1><%= image_tag("pollon.svg", :id => 'brand_logo', :class=>"img-rounded") %> El Pollón</h1>
	        <p>La polla de fútbol con tus amigos, sin importar donde estén.</p>
	  		<p><%= link_to "Entrar con Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-primary btn-large" %></p>
		  </div>
		</div>
		
	<div class="container main">
	  <div class="marketing">

	    <p class="marketing-byline"></p>

	    <div class="row-fluid">
	      <div class="span3">
	        <h3>1. Inscríbete con tu perfil de Facebook</h3>
	      </div>
	      <div class="span3">
	        <h3>2. Crea una polla seleccionando un torneo</h3>
	      </div>
	      <div class="span3">
	        <h3>3. Invita a tus amigos a jugar</h3>
	      </div>
	      <div class="span3">
	        <h3>4. Apuesta a los marcadores y gana puntos!</h3>
	      </div>	
	    </div>
		<br />
		<br />		
	    <div class="row-fluid">
			<% Cup.all.each do |cup| %>
			  <div class="span2">	      
			    <h2><%= image_tag(cup.logo, :id => 'cup_logo_main', :class=>"img-rounded") %></h2>
			  </div>	      
			<% end %>
			  <div class="span2">	      
			    <h2><%= image_tag("copa_lib_black.png", :id => 'cup_logo_main', :class=>"img-rounded") %></h2>
			  </div>
			  <div class="span2">	      
			    <h2><%= image_tag("la_liga_black.png", :id => 'cup_logo_main', :class=>"img-rounded") %></h2>
			  </div>
			  <div class="span2">	      
			    <h2><%= image_tag("cl_black.png", :id => 'cup_logo_main', :class=>"img-rounded") %></h2>
			  </div>
			  <div class="span2">	      
			    <h2><%= image_tag("wc_brasil_black.jpg", :id => 'cup_logo_main', :class=>"img-rounded") %></h2>
			  </div>
			
	    </div>

	  </div>
	</div>
	
