<%= form_for @poll, :html => { :class => 'form form-horizontal' } do |f| %>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputName">Nombre de la polla</label>
    <div class="col-md-5">
      <%= f.text_field :name, placeholder: 'Nombre de la polla', id: 'inputName', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputClave">Clave</label>
    <div class="col-md-5">
      <%= f.text_field :group_key, placeholder: '6 a 20 letras.', id: 'inputClave', class: 'form-control'%>	
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputTorneo">Competencia</label>
    <div class="col-md-5">	
		<% Cup.all.each do |cup| %>
		    <%= f.radio_button(:cup_id, cup.id, id: 'new_poll_radio') %> <%= image_tag(cup.logo, id: 'cup_logo_new_poll', title: cup.name) %>
		<% end %>
    </div>
  </div>

  <div class="form-actions form-actions-padding-sm">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">	
        <%= f.submit 'Guardar polla', :class => 'btn btn-success'%>
        <%= link_to 'Cancelar', main_path, :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>

<% end %>