<%= form_for @poll, :html => { :class => 'form-vertical' } do |f| %>

  <p><%= f.text_field :name, placeholder: 'Nombre de la polla' %></p>
  <p><%= f.text_field :group_key, placeholder: 'Clave', :hint => '6 a 20 letras.' %></p>
  <p><%= f.select :cup_id, Cup.all.map{|cup| [cup.name, cup.id]}, prompt: 'Elige la competencia'%></p>

  <div class="form-actions">
    <%= f.submit 'Guardar polla', :class => 'btn btn-success'%>
    <%= link_to 'Cancelar', main_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
