<%= simple_form_for @poll, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :admin_id, as: :hidden %>
  <%= f.association :cup %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', main_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
