<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:admin_id) %></th>
      <th><%= model_class.human_attribute_name(:cup_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, poll_path(poll) %></td>
        <td><%= poll.password %></td>
        <td><%= poll.admin_id %></td>
        <td><%= poll.cup_id %></td>
        <td><%= poll.created_at.localtime.to_formatted_s(:rfc822) %></td>
        <td>
          <%= link_to t("helpers.links.edit"), edit_poll_path(poll), class: "btn btn-mini" %>
          <%= link_to t("helpers.links.destroy"), poll_path(poll), method: :delete,
                      data: { confirm:  t("helpers.links.confirm")},
                      class: "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("helpers.links.new"), new_poll_path, class: "btn btn-primary" %>
