<div class="page-header">
  <h1><%= link_to @poll.name, poll_path(:id => @poll.id), :class => "list-group-item"%></h1>

  
  <% if current_user.id == @poll.admin_id %>  
  <div>
	<%= link_to 'Editar', edit_poll_path(@poll), :class => 'btn btn-info' %>	
	<%= link_to 'Destruir', @poll, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-danger' %>
  <% end %>  
</div>

<div>
  <%= link_to "Invita a tus amigos en Facebook", "#", class: "btn btn-primary fb-invite" %>
</div>	

<div>	
  <%= link_to "Clasificación", ranking_path(:id => @poll.id), class: "btn btn-success" %>
</div>	

	<div>
		<h3>Members</h3>
		
		<table class="table">
			<% @poll.users.each do |user| %>
			  <tr>
				<td><%= user.name %></td>
				<% if current_user.id === @poll.admin_id %>
				     <% unless user.id === current_user.id %>
				     <td><%= link_to "Kick out",  kick_out_polls_path(:id => @poll.id, :user_id =>user.id), :confirm => 'Are you sure?' %></td>
					 <% end %>
				<% end %>
			<% end %>
		</table>
	</div>
