<div class="page-header">
  <h1><%=@poll.name %></h1>
</div>

<% if current_user.id == @poll.admin_id %>  
<div>
	<dl class="dl-horizontal">
	  <dt><strong>Password :</strong></dt>
	  <dd><%= @poll.password %></dd>
	  <dt><strong>Cup :</strong></dt>
	  <dd><%= @poll.cup.name %></dd>
	</dl>
	
<%= link_to 'Edit', edit_poll_path(@poll), :class => 'btn btn-info' %>	
<%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>  

<div>
  <%= link_to "Invite your Facebook friends", "#", class: "btn btn-primary fb-invite" %>
</div>	

<div>	
  <%= link_to "Members", members_path(:id => @poll.id), class: "btn btn-warning" %>
</div>	

</div>
