<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-signal"></i>
   <span><%= link_to @poll.name, poll_path(:id => @poll.id)%> - Clasificación</span>
 </h1>
 <% if current_user.id === @poll.admin_id %>
   <div class="btn-group">
     <a class="btn btn-xs btn-warning" href="<%= edit_poll_path(@poll) %>"><i class="icon-edit"></i></a>
     <a class="btn btn-xs btn-danger" href="<%=poll_path(@poll)%>" data-confirm="Esta seguro?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>	
   </div>  
 <% end %>	

	<small class= "poll-actions pull-right">
	  <div class="btn-group">
	      <a class="btn btn-xs btn-info" data-toggle="modal" href="#password"><i class="icon-white icon-key"></i> Mostrar clave</a>		
	      <a class="btn btn-xs btn-primary fb-invite" href="#"><i class="icon-white icon-facebook"></i> Invitar amigos</a>						
	  </div>
 </small>
</div>

<div class="modal fade" id="password" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
         <h4 class="modal-title">Comparte esta polla!</h4>
       </div>
       <div class="modal-body">
         <h4>Para que tus amigos se puedan unir a la polla comparte estos datos.</h4>
         <hr>
  	     <p>Nombre: <strong><%= @poll.name %></strong></p>
	     <p>Clave: <strong><%= @poll.group_key %></strong></p>
       </div>
       <div class="modal-footer">
         <button class="btn btn-primary" data-dismiss="modal" type="button">Cerrar</button>
       </div>
     </div>
    </div>
  </div>
<div>
	
	<table class="table" id="partidos">
		<thead class='header'>
		  <th>Nombre</th>
		  <th>Puntos</th>
		  <th></th>		
		</thead>
		<tbody>
			<% @rank_users.sort_by {|key, value| value}.reverse.each do |user_id, points| %>
			  <tr>			
				<td><%= User.find(user_id).name %></td>
				<td><%= points[0] %></td>	
				<% if current_user.id === @poll.admin_id %>
				     <% unless user_id === current_user.id %>
				     <td><%= link_to "Sacar de la polla",  kick_out_polls_path(:id => @poll.id, :user_id =>user_id), :confirm => 'Esta seguro?', class: "btn btn-xs btn-danger"  %></td>
					 <% end %>
				<% end %>

			<% end %>
		</tbody>
	</table>
</div>
