<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-signal"></i>
   <span><%= link_to @poll.name, poll_path(:id => @poll.id)%> - Clasificación</span>
 </h1>
 <% if current_user.id === @poll.admin_id %>
   <div class="btn-group">
     <a class="btn btn-xs btn-warning" href="<%= edit_poll_path(@poll) %>"><i class="icon-edit"></i></a>
     <a class="btn btn-xs btn-danger" href="<%=poll_path(@poll)%>" data-confirm="Esta seguro?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>	
   </div>  
 <% end %>	

	<small class= "poll-actions pull-right">
	  <div class="btn-group">
	      <a class="btn btn-xs btn-info" data-toggle="modal" href="#password"><i class="icon-white icon-key"></i> Mostrar clave</a>		
	      <a class="btn btn-xs btn-primary fb-invite" href="#"><i class="icon-white icon-facebook"></i> Invitar amigos</a>						
	  </div>
 </small>
</div>

<div class="modal fade" id="password" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
         <h4 class="modal-title">Comparte esta polla!</h4>
       </div>
       <div class="modal-body">
         <h4>Para que tus amigos se puedan unir a la polla comparte estos datos.</h4>
         <hr>
  	     <p>Nombre: <strong><%= @poll.name %></strong></p>
	     <p>Clave: <strong><%= @poll.group_key %></strong></p>
       </div>
       <div class="modal-footer">
         <button class="btn btn-primary" data-dismiss="modal" type="button">Cerrar</button>
       </div>
     </div>
    </div>
  </div>
<div>	
	
	<%= high_chart("ranking_chart", @h) %>
	
	<%= will_paginate @rounds%>
	
	<% @rounds.each do |round| %>
	<div class="responsive-table">
	  <div class="scrollable-area">	
		<table class="table">
			<thead class='header'>
			  <th id="results" class="col-sm-1">Nombre</th>
			  <th id="results" class="col-sm-1">Pts</th>
			  <% round.games.order(:kickoff).each do |game| %>			
			    <th id="results" class="col-sm-1"><%= image_tag(Team.find(game.home_team_id).logo, :id => 'team_logo_mini', :title => Team.find(game.home_team_id).name) %> : <%= image_tag(Team.find(game.away_team_id).logo, :id => 'team_logo_mini', :title => Team.find(game.away_team_id).name) %> 
					<br/><%= game.home_score %> : <%= game.away_score %> 
					</th>
			  <% end %>	
			</thead>
			<tbody>
			  <% @poll.users.each do |user| %>	
				<tr>
				  <td id="results"><%= user.name %></td>
				  <td id="results"><%= user.games.where(round_id: round.id).uniq.map{|game| game.bets.where(poll_id: @poll.id, user_id: user.id)}.flatten.map{|bet| bet.total_points}.compact.sum %></td>			  
				  <% round.games.order(:kickoff).each do |game| %>	
					<% if game.kickoff > Time.now %>
			 	      <td id="results" class="col-sm-1"> - : - <br/><strong>0 pts.</strong></td>
				    <% else %>				  
	  				    <% @bet = Bet.where("user_id = ? and poll_id = ? and game_id = ?", user.id, @poll.id, game.id) %>
					    <% if @bet.empty? %>
					      <td id="results" class="col-sm-1"> - : - <br/><strong>0 pts.</strong></td>
					    <% else %>
					      <td id="results" class="col-sm-1"> <%= @bet[0].home_bet %> : <%= @bet[0].away_bet %> <br/><strong><%= @bet[0].total_points %> pts.</strong></td>
					      <% game.bets.where(poll_id: @poll.id, user_id: user.id, game_id: game.id)[0].total_points %>							
					    <% end %>					
				    <% end %>				  					
				  <% end %>
				</tr>					  
			  <% end %>		
			</tbody>
		</table>
	  </div>
	</div>	
	<% end %>


</div>
