<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=@poll.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Password :</strong></dt>
  <dd><%= @poll.password %></dd>
  <dt><strong>Cup :</strong></dt>
  <dd><%= @poll.cup.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Edit', edit_poll_path(@poll), :class => 'btn btn-info' %>	
  <%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>
