<div class="page-header page-header-with-buttons">
 <h1 class="pull-left">
   <i class="icon-group"></i>
   <span><%= link_to @poll.name, poll_path(:id => @poll.id)%></span>
 </h1>
 <% if current_user.id === @poll.admin_id %>
   <div class="btn-group">
     <a class="btn btn-xs btn-warning" href="<%= edit_poll_path(@poll) %>"><i class="icon-edit"></i></a>
     <a class="btn btn-xs btn-danger" href="<%=poll_path(@poll)%>" data-confirm="Esta seguro?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>	
   </div>  
 <% end %>	

	<small class= "poll-actions pull-right">
	  <div class="btn-group">
	      <a class="btn btn-xs btn-info" data-toggle="modal" href="#password"><i class="icon-white icon-key"></i> Mostrar clave</a>		
	      <a class="btn btn-xs btn-contrast" href="<%=ranking_path(:id => @poll.id)%>"><i class="icon-white icon-signal"></i> Clasificación</a>		
	      <a class="btn btn-xs btn-primary fb-invite" href="#"><i class="icon-white icon-facebook"></i> Invitar amigos</a>						
	  </div>
 </small>
</div>

<div class="modal fade" id="password" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
         <h4 class="modal-title">Comparte esta polla!</h4>
       </div>
       <div class="modal-body">
         <h4>Para que tus amigos se puedan unir a la polla comparte estos datos.</h4>
         <hr>
  	     <p>Nombre: <strong><%= @poll.name %></strong></p>
	     <p>Clave: <strong><%= @poll.group_key %></strong></p>
       </div>
       <div class="modal-footer">
         <button class="btn btn-primary" data-dismiss="modal" type="button">Cerrar</button>
       </div>
     </div>
    </div>
  </div>
<div>

    <div class="row" id="content-wrapper">
	  <div class="col-xs-12">
		<ul id="filters" class="pagination option-set">
		  <% @poll.cup.rounds.each do |round| %>
		    <li><a href="#" data-filter=".<%=round.leg%>"><%= round.leg %> Fecha</a></li> 
		  <% end %>	
		  <li><a href="#" data-filter="*" id="">Todas las fechas</a></li> 
		
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		
		  <% @poll.cup.games.map{|g| Team.find(g.home_team_id).acronym}.uniq.sort.each do |team| %>
		    <li><a href="#" data-filter=".<%= team %>"><%= team %></a></li> 
		  <% end %>		
		  <li><a href="#" data-filter="*">Todos los equipos</a></li> 		
		
		</ul>
	  </div>	
	
	<div id="container" class="variable-sizes clearfix isotope">
	<% @games.each do |game| %>
	   <div class="<%=game.round.leg %> elementoFixture <%=Team.find(game.home_team_id).acronym %> <%=Team.find(game.away_team_id).acronym %>" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
   	     <div class="fecha"><%= game.kickoff.strftime("%d/%m/%Y") %></div>
         <div class="hora"><%= game.kickoff.strftime("%H:%M") %></div>
		   <% @bet = Bet.where("user_id = ? and poll_id = ? and game_id = ?", current_user.id, @poll.id, game.id) %>

			<% if @bet.empty? %>
			  <% if game.home_score.nil? %>
			    <div class="puntos"></div>
			  <% else %>
			    <div class="puntos">
			       <span class="label label-danger">0 pts</span>												  			
			    </div>
			  <% end %>			
			<% elsif game.home_score.nil? %>
			  <div class="puntos"></div>
			<% else %>
			  <div class="puntos">
				<% if @bet[0].total_points == 0 %>
				  <span class="label label-danger">
			        <%=pluralize(@bet[0].total_points, 'pt') %>
				  </span>								
				<% elsif @bet[0].total_points == 1 %>				
				  <span class="label label-primary">
			        <%=pluralize(@bet[0].total_points, 'pt') %>
				  </span>				
				<% elsif @bet[0].total_points == 2 %>								
				  <span class="label label-info">
			        <%=pluralize(@bet[0].total_points, 'pt') %>
				  </span>				
				<% elsif @bet[0].total_points == 4 %>												
				  <span class="label label-success">
			        <%=pluralize(@bet[0].total_points, 'pt') %>
				  </span>				
				<% elsif @bet[0].total_points == 5 %>																
				  <span class="label label-warning">
			        <%=pluralize(@bet[0].total_points, 'pt') %>
				  </span>
				<% end %>			
			</div>
			<% end %>			
         <div class="logoEquipo1"><%= image_tag(Team.find(game.home_team_id).logo, :id => 'fixture_team_logo') %></div>
         <div class="nombreEquipo1"><%= truncate(Team.find(game.home_team_id).name, :length => 15) %></div>
	     <div class="vs">VS</div>
         <div class="logoEquipo2"><%=image_tag(Team.find(game.away_team_id).logo, :id => 'fixture_team_logo') %></div>     
         <div class="nombreEquipo2"><%= truncate(Team.find(game.away_team_id).name, :length => 15) %></div>	 
		 <div class="marcador">Marcador</div>
		   <% if game.home_score.nil? %>
		     <div class="marcadorEquipo1">-</div>
		     <div class="marcador-dash">-</div>		
		     <div class="marcadorEquipo2">-</div>	
		   <% else %>
		     <div class="marcadorEquipo1"><%= game.home_score %></div>
		     <div class="marcador-dash">-</div>				
		     <div class="marcadorEquipo2"><%= game.away_score %></div>	
		   <% end %>
		   

		   <div class="apuesta">Apuesta</div>
		   <% if @bet.empty? %>
		     <% if game.kickoff < Time.now %>
				<div class="apuestaEquipo1">-</div>
		        <div class="apuesta-dash">-</div>		
		        <div class="apuestaEquipo2">-</div>				
			  <% else %>			
			    <%= form_for @new_bet, :remote => true do |f| %>
				  <%= f.hidden_field :game_id, { value: game.id } %>
				  <%= f.hidden_field :poll_id, { value: @poll.id } %>
				  <%= f.text_field :home_bet, class: 'submittable apuestaEquipo1' %>
			      <div class="apuesta-dash">-</div>						
				  <%= f.text_field :away_bet, class: 'submittable apuestaEquipo2' %>
			    <% end %>			
			  <% end %>
			
			<% else %>
			
		 	  <% if game.kickoff < Time.now %>
				<div class="apuestaEquipo1"><%= @bet[0].home_bet %></div>
		        <div class="apuesta-dash">-</div>		
		        <div class="apuestaEquipo2"><%= @bet[0].away_bet %></div>				
			  <% else %>
			    <%= form_for @bet[0], :remote => true do |f| %>
				  <%= f.hidden_field :game_id, { value: game.id } %>
				  <%= f.hidden_field :poll_id, { value: @poll.id } %>
				  <%= f.text_field :home_bet, class: 'submittable apuestaEquipo1' %> 
			      <div class="apuesta-dash">-</div>						
				  <%= f.text_field :away_bet, class: 'submittable apuestaEquipo2' %>
			    <% end %>			
			  <% end %>
							
			<% end %>

      </div>
	<% end %>	
	</div>






