<div class="row">
	<div class="span8">
		<div class="main_content">
			<h2>Poll <%= @poll.name %></h2>
		    <p><%= link_to "Invite your Facebook friends", "#", class: "btn btn-primary fb-invite" %> </p>
			<p>Poll Administrator: <%= @admin.name %></p>
			<ul>
			  <% @members.each do |m| %>
				<li><%= link_to m.name, user_path(m) %>
				  <% if @user.id === @poll.admin_id %>
					 Admin
					 <% unless m.id === @user.id %>
						| <%= link_to "Kick out",  kick_out_polls_path(:poll_id => @poll.id, :user_id =>m.id), :confirm => 'Are you sure?' %>
					 <% end %>
					 <% end %>
				</li>
			   <% end %>
			</ul>
				<% if  @user.id === @poll.admin_id %>
					<p><%= link_to "Change name or password for poll", edit_poll_path, :class => "btn" %></p>
					<p><%= link_to 'Delete poll', @poll, :confirm => 'Are you sure? All other users in the poll will be removed from it as well.', :class => "btn", :method => :delete %></p>
				<% end %>
			
		</div>
	</div>
</div>
