<div class="<%=game.round.leg %> fixture" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(605px, 5px, 0px);">
  <div class="fecha"><%= game.kickoff.strftime("%d/%m/%Y") %><br><%= game.kickoff.strftime("%H:%M") %></div>
  <div class="banderaEquipo1"><%= image_tag(Team.find(game.home_team_id).logo, :id => 'team_logo') %></div>
  <div class="nombreEquipo1"><%= truncate(Team.find(game.home_team_id).name, :length => 20) %></div>
  <div class="logoEquipo2"><%=image_tag(Team.find(game.away_team_id).logo, :id => 'team_logo') %> </div>
  <div class="nombreEquipo2"><%= truncate(Team.find(game.away_team_id).name, :length => 20) %></div>
 </div>

<div class="responsive-table">
  <div class="scrollable-area">
    <table class="table" id="partidos">
		<thead class='header'>
		  <th class="col-sm-1">Fecha</th>
		  <th class="col-sm-2">Local</th>
		  <th class="col-sm-1">Res.</th>
		  <th class="col-sm-2">Visitante</th>
		  <th class="col-sm-2">Apuesta</th>
		  <th class="col-sm-1">Puntos</th>
		</thead>
		<% @games.each do |game| %>
		  <tr>
			<td><%= game.kickoff.strftime("%d/%m/%Y %H:%M") %></td>
			<td><%= truncate(Team.find(game.home_team_id).name, :length => 20) %> <%= image_tag(Team.find(game.home_team_id).logo, :id => 'team_logo') %></td>
			<% if game.home_score.nil? %>
			  <td> - : - </td>
			<% else %>
			  <td><%= game.home_score %> : <%= game.away_score %></td>
			<% end %>
			<td><%= image_tag(Team.find(game.away_team_id).logo, :id => 'team_logo') %> <%= truncate(Team.find(game.away_team_id).name, :length => 20) %></td>

			<% @bet = Bet.where("user_id = ? and poll_id = ? and game_id = ?", current_user.id, @poll.id, game.id) %>

			<% if @bet.empty? %>
		      <% if game.kickoff < Time.now %>
				<td> : </td>				
			  <% else %>			
				<td>
				  <%= form_for @new_bet, :remote => true do |f| %>
				    <%= f.hidden_field :game_id, { value: game.id } %>
					<%= f.hidden_field :poll_id, { value: @poll.id } %>
				    <%= f.text_field :home_bet, class: 'submittable' %> : <%= f.text_field :away_bet, class: 'submittable' %>
			      <% end %>			
				</td>
			  <% end %>
			
			<% else %>
			
		 	  <% if game.kickoff < Time.now %>
			    <td><%= @bet[0].home_bet %> : <%= @bet[0].away_bet %></td>				
			  <% else %>
				<td>
				  <%= form_for @bet[0], :remote => true do |f| %>
				    <%= f.hidden_field :game_id, { value: game.id } %>
					<%= f.hidden_field :poll_id, { value: @poll.id } %>
				    <%= f.text_field :home_bet, class: 'submittable' %> : <%= f.text_field :away_bet, class: 'submittable' %>
			      <% end %>			
				</td>			
			  <% end %>
							
			<% end %>
									
			<% if @bet.empty? %>
			  <td></td>
			<% elsif game.home_score.nil? %>
			  <td></td>
 			<% else %>
			  <td><%= @bet[0].total_points %></td>
			<% end %>
		   </tr>
		<% end %>
		</tbody>		
    </table>
  </div>
</div>