<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <h4>Cup: <%= @cup.name %></h4>
  <h4>Round: <%= @round.name %></h4>
<br />

  <div class="form-inputs">
    <%= f.input :kickoff%>
    <%= f.input :home_score %>
    <%= f.input :away_score %>
    <%= f.input :round_id, :as => :hidden, :input_html => { :value => @round.id }%>
    <%= f.input :home_team_id, :collection => @teams %>
    <%= f.input :away_team_id, :collection => @teams %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
