<h1>Set result</h1>

<%= simple_form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fixture">
  	<%= Team.find(@game.home_team_id).name %> : <%= Team.find(@game.away_team_id).name %>

   <div class="field">
    <%= f.label :home_score %><br />
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :away_score %><br />
    <%= f.number_field :away_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />

<%= link_to "Enter Results", :controller => "games", :action => "result_index"%>