<!DOCTYPE html>
<html>
<head>
  <title>El Pollon</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a class="brand" id="brand" href="/main"><%= image_tag("pollon.svg", :id => 'nav_brand_logo', :class=>"img-rounded") %>El Pollón</a>
                </li>
                <li><%= link_to "Crear una polla", new_poll_path %></li>
                <li><%= link_to "Unirme a una polla", join_path %></li>
                <br />
                <li>Lista de pollas</li>
				<% current_user.polls.each do |poll| %>
				  <li><%= link_to poll.name, poll_path(:id => poll.id), :class => "list-group-item"%></li>
				<% end %>
            </ul>
        </div>


        <!-- Page content -->
        <div id="page-content-wrapper">
          <div class="page-content inset">
		    <% flash.each do |key, value| %>
			  <div class="alert alert-<%= key %>"><%= value %>
			    <button type="button" class="close" data-dismiss="alert">&times;</button>
			  </div>
			<% end %>			
			<%= yield %>				 
          </div>
        </div>

    </div>

</body>
</html>


