<!DOCTYPE html>
  <html>
    <head>
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
 	  <title>El Pollon</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag :application %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'favicon.ico' %>
    </head>
    <body class="contrast-grass-green">
		<header>
		  <nav class="navbar navbar-default navbar-fixed-top">

		    <!-- application logo -->
		    <a class="navbar-brand" href="/main">
		      <!-- application logo visible on large screens -->
		      <%= image_tag("pollon.svg", size: "21x21", title: 'El Pollón', class: "logo") %>
		      <!-- application logo visible on small screens -->
		      <%= image_tag("pollon.svg", size: "21x21", title: 'El Pollón', class: "logo-xs") %>
		    </a>

		    <!-- main nav toggler (show/hide) -->
		    <a class="toggle-nav btn pull-left" href="#">
		      <i class="icon-reorder"></i>
		    </a>
		    <!-- dropdowns -->
		    <ul class="nav">			
			  <li class="dropdown dark user-menu">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				  <span class="user-name"><%= current_user.name %></span>
				  <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">					
				  <li>
					<a href="/signout">
					   <i class="icon-signout"></i> Salir
					</a>					
				  </li>
				</ul>
			  </li>
		    </ul>
		  </nav>
		</header>		
	  <div id="wrapper">
	    <div id="main-nav-bg"></div>
		<nav class="main-nav-fixed" id="main-nav">
		  <div class="navigation">
		    <ul class="nav nav-stacked">
		      <li></li>
			
		      <li class=""><a href="/rules"><i class="icon-legal"></i><span>Reglas</span></a></li>
		      <li class=""><a href="/main"><i class="icon-dashboard"></i><span>Página Pricipal</span></a></li>			

		      <li class=""><a href="/polls/new"><i class="icon-plus-sign-alt"></i><span>Crear polla</span></a></li>
		      <li class=""><a href="/join"><i class="icon-group"></i><span>Unirme a una polla</span></a></li>		
		      <li class=""><a href="http://www.facebook.com/pages/El-Poll%C3%B3n/195032510704753"><i class="icon-facebook-sign"></i><span>Contacto</span></a></li>        
			</ul>
		  </div>
		</nav>
		<section id="content">
	      <div class="container">
		  <<pseudo>></<pseudo>>
	        <div class="row" id="content-wrapper">
			<<pseudo>></<pseudo>>
			  <div class="col-xs-12">
				<%= yield %>								
			  </div>	
			</div>
		  <div>
		</section>
	  </div>
    </body>
  </html>