<!DOCTYPE html>
<html>
<head>
  <title>El Pollon</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="navbar">
  <div class="navbar-inner" id='navbar'>
    <div class="container">
	   <a class="brand" id="brand" href="#"><%= image_tag("pollon.svg", :id => 'nav_brand_logo', :class=>"img-rounded") %>El Pollón</a>	
	   <div class="nav-collapse collapse navbar-responsive-collapse">
	     <ul class="nav pull-right">
	       <li class="dropdown">
	         <a class="dropdown-toggle" id="brand" data-toggle="dropdown"><%= current_user.name %></a>
	         <ul class="dropdown-menu">
		       <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
	         </ul>
	       </li>
	     </ul>
	   </div>	
    </div>
  </div>
</div>

<div class="container">	
  <div id="fb-root"></div>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list bs-docs-sidenav affix-top">
	    <%= link_to "Create a new poll", new_poll_path, :class => "list-group-item"%>	
		<%= link_to "Join an existing poll", join_path, :class => "list-group-item"%>
	    <br />
		<% current_user.polls.each do |poll| %>
		  <%= link_to poll.name, poll_path(:id => poll.id), :class => "list-group-item"%>
		<% end %>				
	  </ul>
	</div>
	<div class="span9">
  	  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
      <% end %>		
	  <%= yield %>
	</div> 
  </div> 
</div> 

</body>
</html>


