<!DOCTYPE html>
<html>
<head>
  <title>Elpollon</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/main">El pollon</a>
        </div>
      </div>
    </div>

   <div class="container-fluid">
      <div class="sidebar span2">
        <div class="well">

          <h5>Polls</h5>
		  <li><%= link_to "Create a new poll", new_poll_path%></li>
		  <li><%= link_to "Join an existing poll", join_path%></li>

		  <% current_user.polls.each do |poll| %>
		    <li><%= link_to poll.name,  poll_view_path(:poll_id => poll.id) %>
		  <% end %>		
		    
        </div>
      </div>
   </div>
	
<%= yield %>

</body>
</html>


